* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#slideOut > li > a > i,
#slideOut > li > a {
	color: rgba(255, 255, 255, 0.9);
}

#layoutImg {
	margin-top: 15px;
}

#brand {
	height: 180px;
}

#navImg {
	margin-top: 17px;
	margin-left: 10px;
}

#rootCrumb {
	margin-left: 10px;
}

@media only screen and (min-width: 767px) {
	.container {
		position: absolute;
		right: 10px;
	}
}

@media only screen and (min-width: 767px) {
	.sidenav {
	    transform: translateX(0%) !important;
	}

	header {
		padding-left: 240px;
	}

	#rootCrumb {
		margin-left: 100px;
	}

	#navImg,
	.sidenav-trigger {
		display: none;
	}

	#closeBtn {
		display: none;
	}
}

@media only screen and (max-width: 767px) {
	#navImg {
		width: 10%;
	}
}

/* iPad Mini, iPad Air, iPad Pro PORTRAIT */
@media only screen and (min-width: 767px) and (max-width: 1022px) {
	.container {
		width: 59vw;
	}
}

/* iPad Mini, iPad Air LANDSCAPE */
@media only screen and (min-width: 1023px) and (max-width: 1279px) {
	.container {
		width: 68vw;
	}
}

/* iPad Pro LANDSCAPE AND most Laptops */
@media only screen and (min-width: 1280px) and (max-width: 1368px) {
	.container {
		width: 75vw;
	}
}

@media only screen and (min-width: 1369px) {
	.container {
		width: 77vw;
	}
}

/* DASHBOARD */

.dash-card {
	padding: 10px;
}

.mini-con {
	text-align: center;
	margin-bottom: 10px;
}

.mini-card {
	padding: 35px;
}

.mini-card:hover {
	border: 2px solid indigo;
}

#dashTitle {
	margin-bottom: 10px;
	font-family: 'Kavoon', cursive;
}

/* EMPLOYEES */

#searchInput {
	background-image: url('../img/search.jpg');
	background-position: 10px 10px;
	background-repeat: no-repeat;
	background-size: 3%;
	font-size: 1em;
	border: 1px solid #ddd;
	padding-left: 50px;
	width: 80%;
	margin-top: 12px;
	margin-bottom: 12px;
	background-color: white;
	border-radius: 10px;
}

@media only screen and (max-width: 1022px) {
	#searchInput {
		background-size: 5%;
	}
}

#employeeList {
	list-style-type: none;
}

#employeeList li a {
	border: 1px solid #ddd;
	margin-top: -1px;
	padding: 12px;
	text-decoration: none;
	font-size: 1em;
	display: block;
	background-color: #f2f2f2;
}

#employeeList li a:hover {
	background-color: #E5BB4B; /*MUSTARD*/
}